@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  }

h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h1 { font-size: 2.5em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.5em; }  
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
  }

  .main-title {
    font-size: 3em;
    color: #2c3e50;
    margin-bottom: 0.5em;
  }
  
  .sub-title {
    font-size: 1.5em;
    color: #34495e;
    margin-bottom: 1em;
  }
  
  .group-info {
    text-align: center;
    margin-bottom: 2em;
  }
  
  .group-title {
    font-size: 1.2em;
    color: #16a085;
    margin: 1em 0;
  }
  
  .leader {
    font-weight: none;
  }
  
  .member-list {
    list-style: none;
    padding: 0;
  }
  
  .group-member {
    margin-left: 20px;
    line-height: 1.6;
    color: #2c3e50;
  }
  
  
  input, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      width: 95%;
      margin: 20px auto;
    }
  }

  .matrix-display {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.matrix-display div {
    margin: 0 10px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
}